/home/retroarch/.config/retroarch/saves/*
/home/retroarch/.config/retroarch/states/*
/home/retroarch/.config/retroarch/downloads/*
/home/retroarch/.config/retroarch/playlists/*
/home/retroarch/.config/retroarch/cheats/*
/home/retroarch/.config/retroarch/cores/*
/home/retroarch/.config/retroarch/database/*
/home/retroarch/.config/retroarch/assets/*
/home/retroarch/.config/retroarch/content_*
/home/retroarch/.config/retroarch/overlay/*
/home/retroarch/.config/retroarch/overlays/*
/home/retroarch/.config/retroarch/filters/*
